@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1>Bereken boete</h1><br />

    
    


    <form method="post" asp-action="Bereken">
        <div><input type="text" name="snelheid" placeholder="snelheid" required /></div><br />
        
        
        <div><input type="submit" value="Bereken" /></div><br />
    </form>






</div>
